@media (max-width: 575.98px) {
    .add{
      margin-top: 1rem;
      width: 100%;
    }
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] { -moz-appearance:textfield; }
  
  .error {
    font-size: 1.25rem;
    color: #D8000C;
    border-radius: 10px;
    background-color: #FFBABA;
  }
  
  .sinborde {
    outline: none;
    border: none;
    background: transparent;
    font-weight: bold;
    text-align: center;
    max-width: 100px;
  }  